/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    .root{
        -fx-background-color: black;
    }
    
    #main{
        -fx-background-color: grey;
    }
    
    #Show{
        -fx-background-color: yellow;
        -fx-border-color: brown;
        -fx-background-color: #e7e242;
    }

}
